* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  /* display: flex;
  align-items: center;
  justify-content: space-between;*/
  min-height: 58px;
  display: flex;
  position: fixed;
  width: 86%;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
  justify-content: space-around;
  background-color:#f3f6f7e2;
  background-size: 50px;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 2rem;
  text-decoration: none;
  color: rgb(159, 32, 18);
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.3s;
}
.navbar-links-container a:hover {
  color: rgb(0, 102, 255); /* Color change on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 5px;
  width: 22%;
  /* Adjust width to fit four cards side by side */
  box-shadow: 0 2px 5px rgba(15, 170, 141, 0.859);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Ensures content is evenly spaced */
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin: 10px 0;
  font-weight: bold;
}

.card button {
  background-color: #10977c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
}

.card button:hover {
  background-color: #2bc4a5;
}

.bundle-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  /* Adjust width to fit your layout */
  margin: 20px auto;
  /* Centers the card horizontally */
  box-shadow: 0 2px 5px rgba(15, 170, 141, 0.859);
  text-align: center;
}

.bundle-card h3 {
  margin-bottom: 10px;
}

.bundle-card p {
  margin: 10px 0;
  font-weight: bold;
}

.bundle-card button {
  background-color: #c4146c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.bundle-card button:hover {
  background-color: #d339af;
}

/* Styling for the horizontal line */
.divider {
  border: none;
  /* Remove the default border */
  border-top: 2px solid #ddd;
  /* Customize the border thickness and color */
  margin: 20px 0;
  /* Add vertical spacing around the line */
}

/* Other styles... */



@media (max-width: 1200px) {
  .card {
    width: 30%;
    /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%;
    /* Adjust width for tablets */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    /* Full width for mobile devices */
  }

  .bundle-card {
    width: 100%;
    /* Full width for the bundle card */
    margin: 20px 0;
    /* Adds vertical margin for mobile */
  }
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(234, 234, 234);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}

.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}

.home-image-section {
  max-width: 600px;
  flex: 1;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(1rem, 3vw, 2rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 100%;
  text-align: center;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 100%;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
  text-align: justify;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}

.about-section-container {
  margin-top: 2rem;
  position: relative;
  align-items: center;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}

.about-section-image-container {
  flex: 1;
  margin-right: 1rem;
}

.about-section-text-container {
  /* flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.fullscreen-image {
  position: relative;
  /* Positions the image relative to the viewport */
  width: 100%;
  /* Makes the image span the full width of the viewport */
  height: 450px;
  /* Makes the image span the full height of the viewport */
  display: block;
  margin: 0 auto;

  /* Ensures the image covers the entire area without distortion */
  /* Sends the image to the background, behind other elements */
}

/* styles.css or your component's CSS file */
#message {
  width: 100%; /* Makes the input box take up 100% of its container's width */
  height: 100px; /* Adjust the height as needed */
  padding: 10px; /* Add padding inside the input box */
  font-size: 16px; /* Increase font size for better readability */
  box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}


.primary-subheading {
  font-weight: 500;
  color: #13573b;
  font-size: 2.15rem;
  text-align: center;
}

.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}

.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}

.contact-page-wrapper h1 {
  max-width: 900px !important;
}

.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

/* Container for the contact form */
.contact-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Contact form title */
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Input fields styling */
.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

/* Button styling */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
    /* Stack fields vertically on smaller screens */
    align-items: stretch;
    /* Ensure full width for each element */
  }

  .form-group {
    width: 100%;
    /* Full width for input fields */
    margin-bottom: 10px;
    /* Add spacing between fields */
  }

  button[type="submit"] {
    width: 100%;
    /* Full width for button */
  }
}

.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}

.footer-logo-container {
  max-width: 110px;
}

.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}

.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}

.testimonial-section-bottom {
  margin: 2rem auto;
}

.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}

.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}

.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}

.work-section-wrapper {
  margin-top: 5rem;
}

.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}

.work-section-top h1 {
  max-width: 700px !important;
}

.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}

.work-section-info h2 {
  margin: 1rem 0rem;
}

.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
    color: brown;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container,
  .about-section-container {
    align-items: center;
    justify-content: center;
  }

  .about-section-container {
    justify-content: center;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 100%;
  }

  .primary-heading {
    text-align: center;
    max-width: 100%;
  }

  .primary-text {
    text-align: center;
    max-width: 100%;
  }

  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-top: 2rem;
  }

  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .about-section-container {
    margin-top: 2rem !important;
  }

  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }

  .primary-subheading {
    text-align: center;
  }

  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }

  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }

  .about-section-image-container {
    margin-right: 0rem !important;
  }

  .work-section-wrapper {
    margin-top: 5rem !important;
  }

  .work-section-bottom {
    margin-top: 1rem !important;
  }


  .footer-wrapper {
    flex-direction: column;
  }

  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer-section-columns {
    margin: 1rem 0rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {

  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}